@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
	--purple: #7d5bbe;
	--white: #fff;
	--black: #121212;
	--alternateBlack: #1f1f1c;
	--green: #78bc61;
	--text-minFontSize: 16px;
	--text-maxFontSize: 38px;
	--text-scaler: 2vw;
	--h1-minFontSize: 25px;
	--h1-maxFontSize: 76px;
	--h1-scaler: 4vw;
}

app {
	width: 100%;
	
}

body {
	background-color: var(--black);
	color: var(--white);
	line-height: 1.5em;
	font-size: 16px;
	font-size: clamp( var(--text-minFontSize), var(--text-scaler), var(--text-maxFontSize) );
	min-width: 306px;
}

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#blazor-error-ui .dismiss {
	cursor: pointer;
	position: absolute;
	right: 0.75rem;
	top: 0.5rem;
}

div.top-row {
	height: 2rem;
	background-color: var(--purple);
	width: 100%;
}


.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}
input[type=text],select,select:checked,option {
	font-size:16px;
	/*Important forces override of scss style*/
	font-size: clamp( var(--text-minFontSize), var(--text-scaler), var(--text-maxFontSize) )!important;
}

input[type=text], input, select {
	/*Important forces override of scss style*/
	border: .2rem solid var(--green) !important;
}

h1 {
	text-align:center;
	font-size:25px;
	font-size: clamp( var(--h1-minFontSize), var(--h1-scaler), var(--h1-maxFontSize) );
}

main div{
	margin-top:1rem;
}

/*Index*/
form#formChat {
	margin-top: 2rem;
}

input#channels {
	width: 100%;
}

button#chatsubmit,input#btn_send {
	width: 50%;
	margin-top: 1rem;
}

/*Chat*/

ul {
	height: 30rem;
	overflow-y: auto;
	list-style-type: none;
	border: .2rem solid var(--purple);
	padding: 0;
}

li{
	width:100%;
}

li:nth-child(odd) {
	background-color:var(--alternateBlack);
}

div#chatForm{
	text-align:center;
}
