<div>
	<button @onclick="(() =>BlazoredModal.Close(ModalResult.Ok<bool>(true)))" class="btn btn-primary">OK</button>
	<button @onclick="BlazoredModal.Cancel" class="btn btn-primary cancelBtn">Cancel</button>
</div>

@code {
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
}
