

<div>
	<input type=text class="form-control" id="txt_channel" name="txt_cahnnel" @bind="channel"/>
	<button @onclick="Sub_Channel" class="btn btn-primary">Submit</button>
	<button @onclick="BlazoredModal.Cancel" class="btn btn-secondary cancelBtn">Cancel</button>
</div>

@code {
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
	string channel;

	void Sub_Channel()
	{
		BlazoredModal.Close(ModalResult.Ok(channel));
	}

}
