<div>
	<select id="sel_send" class="form-control d-flex" name="sel_send" @bind="SelectedValues" >
		@foreach (var channel in ChannelService.Channels)
		{
			<option value=@channel.Id>@channel.Id</option>
		}
	</select>
	<button @onclick="Sub_Channel" class="btn btn-primary">Submit</button>
	<button @onclick="BlazoredModal.Cancel" class="btn btn-secondary cancelBtn">Cancel</button>
</div>

@code {
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
	[Parameter] public ChannelService ChannelService { get; set; }
	string SelectedValues;

	async Task Sub_Channel()
	{
		var channel = await ChannelService.GetChannel(SelectedValues);
		await BlazoredModal.Close(ModalResult.Ok(channel));
	}
}
