<div>
	<select id="sel_send" class="form-control d-flex" name="sel_send" @bind="SelectedValues" >
		@foreach (var channel in Channels)
		{
			<option value=@channel>@channel</option>
		}
	</select>
	<button @onclick="Sub_Channel" class="btn btn-primary">Submit</button>
	<button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
	[Parameter] public IList<string> Channels { get; set; }
	string SelectedValues;

	void Sub_Channel()
	{
		BlazoredModal.Close(ModalResult.Ok(SelectedValues));
	}
}
