<div class="macroMGMT">
	<button @onclick="Create" class="btn btn-primary createBtn">Create</button>
	<table>
		<thead>
			<tr>
				<th>Enabled</th>
				<th>Command</th>
				<th>Response</th>
				<th>Channel</th>
				<th>Controls</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var macro in DisplayService.GetAllMacros().Result)
			{
				<tr>

					<td>
						@if (macro.IsEnabled)
						{
							<input type="checkbox" checked />
						}
						else
						{
							<input type="checkbox" />
						}
					</td>
					<td>@macro.Command</td>
					<td>@macro.Response</td>
					<td>@macro.Channel.Id</td>
					<td>
						<button @onclick="(()=>Edit(macro))" class="btn btn-primary">Edit</button>
						<button @onclick="(() => Delete(macro))" class="btn btn-primary">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="closeBtn">
		<button @onclick="(()=>BlazoredModal.Close(ModalResult.Ok(true)))" class="btn btn-primary">Close</button>
	</div>
	
</div>

@code {
	[CascadingParameter] public IModalService Modal { get; set; }
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
	[Parameter] public  DisplayService DisplayService { get; set; }

	async Task Create()
	{
		var parameters = new ModalParameters();
		parameters.Add(nameof(DisplayService), DisplayService);

		var modalResponse = Modal.Show<EditMacroDialog>("Create Macro", parameters);
		var result = await modalResponse.Result;


		if (!result.Cancelled)
		{
			await DisplayService.AddMacro((Macro)result.Data);
			await base.InvokeAsync(StateHasChanged);
		}
	}

	async Task Edit(Macro macro)
	{
		var parameters = new ModalParameters();
		parameters.Add("Macro", macro);
		parameters.Add(nameof(DisplayService), DisplayService);

		var modalResponse = Modal.Show<EditMacroDialog>("Edit Macro",parameters);
		var result = await modalResponse.Result;


		if (!result.Cancelled)
		{
			await DisplayService.RemoveMacro(macro);
			await DisplayService.AddMacro((Macro)result.Data);
			await base.InvokeAsync(StateHasChanged);
		}
	}

	async Task Delete(Macro macro)
	{
		var modalResponse = Modal.Show<ConfirmDialog>("Confirm Delete");
		var result = await modalResponse.Result;


		if (!result.Cancelled)
		{
			await DisplayService.RemoveMacro(macro);
			await base.InvokeAsync(StateHasChanged);
		}
	}
}
